<ng-template #defaultLook>
    <span class="selected-value">{{optionsAndValueManager.selectedOption | ngSelectValue: nothingSelectedText}}</span>
    <span class="selected-caret fa fa-caret-down"></span>
</ng-template>

<ng-template #defaultOptionTextLook let-option>{{option?.text}}</ng-template>

<ng-template #defaultOptionLook let-option>
    <div class="optionItem"
         [class.selected]="option?.selected"
         [class.active]="option?.active"
         (click)="optionsAndValueManager.setSelected(option)">
        <div class="option-item-text">
            <ng-container *ngTemplateOutlet="optionTextLook || defaultOptionTextLook; context: {$implicit: option, select: this}"></ng-container>
        </div>

        <div *ngIf="option?.selected && multiselect" class="fa fa-check"></div>
    </div>
</ng-template>

<ng-template #defaultOptionsDivLook>
    <ng-template ngFor [ngForOf]="optionsAndValueManager.options" let-option>
        <ng-container *ngTemplateOutlet="optionLook || defaultOptionLook; context: {$implicit: option, select: this}"></ng-container>
    </ng-template>
</ng-template>

<button class="btn btn-select" (click)="toggleOptionsDiv()">
    <ng-container *ngTemplateOutlet="look || defaultLook; context: {$implicit: this}"></ng-container>
</button>

<div #optionsDiv
     *ngIf="optionsDivVisible"
     class="absolute optionsDiv"
     [style.left.px]="optionsDivStyle?.left"
     [style.top.px]="optionsDivStyle?.top">
    <div *ngIf="!!optionsObtainer"
         class="search-bar">
        <input (input)="optionsAndValueManager.filterOptions($event.target.value)">
    </div>

    <ng-container *ngTemplateOutlet="optionsDivLook || defaultOptionsDivLook; context: {$implicit: this}"></ng-container>
</div>