.option-item
{
    padding: 3px 12px;
    display: flex;
    align-items: center;
}

.option-item .option-item-text
{
    min-width: 0;
    flex: 1;
    white-space: nowrap;
}

.option-item .option-item-text:hover
{
    cursor: pointer;
}

.option-item .fa-check
{
    margin-left: 8px;
}

.option-item.selected,
.option-item.active
{
    background-color: #E8E8E8;
    background-image: linear-gradient(to bottom,#F5F5F5 0,#E8E8E8 100%);
}

.option-item:hover
{
    background-color: #E8E8E8;
    background-image: linear-gradient(to bottom,#F5F5F5 0,#E8E8E8 100%);
    cursor: pointer;
}