  
<ng-template #defaultOptionTextLook let-option>{{option?.text}}</ng-template>

<div *ngFor="let option of selectOptions"
     [ngClass]="options?.cssClasses?.optionItemDiv"
     [class.selected]="option?.selected"
     (click)="data?.pluginBus?.optionSelect?.emit(option)">
    <div [ngClass]="options?.cssClasses?.optionItemTextDiv">
        <ng-container *ngTemplateOutlet="data?.pluginBus?.selectOptions?.templateGatherer?.optionTemplate || defaultOptionTextLook; context: {$implicit: option, popup: this}"></ng-container>
    </div>

    <div *ngIf="option?.selected && data?.pluginBus?.selectOptions?.multiple" [ngClass]="options?.cssClasses?.optionChecked"></div>
</div>